<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
      xmlns:tr="http://myfaces.apache.org/trinidad"
      xmlns:trh="http://myfaces.apache.org/trinidad/html">
<body>
	<ui:composition template="/templates/mainTemplate.xhtml">
		<ui:define name="title">
			<af:clientListener method="setErrorPageButtonVisibility" type="load" />
			<div style="padding:0px 5px 0 5px">
			<h3>#{errorVC.windowTitle}</h3>
			</div>
		</ui:define>
	    <ui:define name="content">
	    <af:subform>
	    	 <f:event type="jakarta.faces.event.PreRenderViewEvent" listener="#{errorVC.preRenderView}"/> 
	    
	   		 <af:panelLabelAndMessage label="Meldung:">
		    	<af:outputText value="#{errorVC.meldung}" />
		    </af:panelLabelAndMessage>
		    
		     <af:spacer height="30px" />
		    	
	    	<tr:panelCaptionGroup captionText="Daten">
		    	<af:panelLabelAndMessage label="Datum:">
		    		<af:outputText value="#{errorVC.currentDate}" />
		    	</af:panelLabelAndMessage>
		    	<af:panelLabelAndMessage label="User-ID:">
		    		<af:outputText value="#{errorVC.benutzerID}" />
		    	</af:panelLabelAndMessage>
		    	<af:panelLabelAndMessage label="Akte:">
		    		<af:outputText value="#{errorVC.currentAkte}" />
		    	</af:panelLabelAndMessage>
		    	<af:panelLabelAndMessage label="Termin:">
		    		<af:outputText value="#{errorVC.termin}" />
		    	</af:panelLabelAndMessage>
		    </tr:panelCaptionGroup>
		    
		    <af:spacer width="10" height="10" />
	    	
	    	<af:panelGroupLayout layout="horizontal" halign="center">
	    	  	<f:facet name="separator">
    				<af:spacer width="10" height="1"/>
 				 </f:facet>
		    	<af:commandButton text="Zum Postkorb" id="cmdPostkorb" accessKey="P"
		        	action="#{errorVC.gotToPostkorb}" immediate="true" 
		        	rendered="#{errorVC.mainDialog}"/>   	
		        <af:commandButton id="cmdCancel" text="Abbrechen" accessKey="A"
		        	action="#{errorVC.cancel}" immediate="true"
		        	rendered="#{!errorVC.mainDialog}"/>  	
		    	<af:commandButton text="Programm Beenden" id="cmdCancelErr" accessKey="B"
		        	action="#{akteVC.programmBeenden}" immediate="true">
		        </af:commandButton>
				<af:commandButton text="Details anzeigen" rendered="#{errorVC.hasDetails}">
				  <af:clientListener method="showErrorDetails" type="action"/>
				</af:commandButton>
	        </af:panelGroupLayout>

			<af:panelGroupLayout layout="horizontal" halign="center" 
					id="error_details" clientComponent="true" visible="false">
		        <ui:repeat value="#{errorVC.errorModell.details}" var="entry">
		            #{entry}<br/>
		        </ui:repeat>
	        </af:panelGroupLayout>
	        </af:subform>
	    </ui:define>
	</ui:composition>
</body>
</html>
